@use "./_variables.scss";
@use "./global.scss";

.h1 {
  margin: 0;

  & + .subheading {
    font-size: 0.875rem;
    margin: 0;
    margin-top: 8px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
}
