@use "./_variables.scss";
@use "./global.scss";

.h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & + p {
    margin-top: 48px;
  }

  span {
    margin-left: 8px;
    font-size: 1.25rem;
  }
}

p {
  font-size: 0.85rem;
  line-height: 1.2rem;
}

a {
  font-weight: 700;
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 450px;
  width: 100%;

  .h1 {
    text-align: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.matrix {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  vertical-align: text-bottom;
  position: relative;
  transition: all 0.05s linear;
  width: 100px;

  &::after {
    margin-left: 4px;
    display: inline-table;
    white-space: pre;
    text-align: left;
    content: "✶\A✸\A✹\A✺\A✹\A✷";
    animation: spin6 1s steps(6) infinite;
  }

  &:hover {
    color: #e56e39;
  }
}

@keyframes spin6 {
  to {
    transform: translateY(-9em);
  }
}
