.coming-soon {
  position: relative;

}

.coming-soon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  z-index: 2;
}

.coming-soon-overlay {
  filter: blur(3px);
  pointer-events: none;
  position: relative;
}


