.line-container {
  position: relative;
}

.line-container::after {
  content: '';
  background: #282828;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 81px;

  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.line-container > * {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #282828;
  transform-origin: left;
  place-self: end;
}
